<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Учу Django</title>
</head>
<body>
        <!-- date and time -->
         {% load tz %}
         {% timezone 'Europe/Moscow' %}
        <p>Год в виде четырех цифр - {% now "Y" %}</p>
        <p>Год в виде последних двух цифр - {% now "y" %}</p>
        <p>Полное название месяца - {% now "F" %}</p>
        <p>Сокращенное название месяца - {% now "M" %}</p>
        <p>Номер месяца, с ведущим нулём - {% now "m" %}</p>
        <p>Номер месяца, без ведущего нуля - {% now "n" %}</p>
        <p>Аббревиатура месяца  - {% now "N" %}</p>
        <p>День месяца, с ведущим нулём - {% now "d" %}</p>
        <p>День месяца, без ведущего нуля - {% now "j" %}</p>
        <p>День недели - текст - {% now "l" %}</p>
        <p>Часы (0-12) - {% now "h" %}</p>
        <p>Часы (0-24) - {% now "H" %}</p>
        <p>Минуты (0-59) - {% now "i" %}</p>
        <p>Секунды (0-59) - {% now "s" %}</p>
        <p>Дата (день/месяц/год) - {% now "j/m/Y" %}</p>
        <p>Время (час:мин:сек) - {% now "H:i:s" %}</p>
        {% endtimezone %}

        <!-- if -->         
        <h3> Анализ возраста клиента</h3>
        {% if age.age > 65 %}
                <p>Клиент пенсионер</p>
        {% else %}
                <p>Клиент не пенсионер</p>
        {% endif %}

        <!-- for -->
        <h3>Категории</h3>
        <ul>
                {% for i in cat %}
                <li>{{ i }}</li>
                <!-- empty если список пуст -->
                {% empty %}
                        <li>Категории пусты</li>
                {% endfor %}
        </ul>
</body>
</html>